{% extends "base.html" %}

{% block content %}

<div class="container-paragraph">
	<div class='paragraph-block'>
		<p>I am an Engineering Science undergraduate in University of Toronto. I streamed in the Electrical and Computer Engineering to pursue my interest in the computer technology. Upon completing my junior year of studies, I received a 12 month co-op internship at AMD in Sunnyvale, California, which brings time to where we are at right now.</p>
		<p>My experience in the Silicon Valley has been a great one so far, and I'm very glad that I was able to experience this. It has definitely changed my  perspective on things and has made a huge impact in my life. This is gonna be more than lengthy, so it's definitely going into the blog! </p>
		<p>I am a huge fan of soccer, both playing and watching. I enjoy basketball and tennis too, but it doesnt get me as excited as soccer does. To me soccer isn't just about the beauty of the game. Soccer and I go way back to when I first immigrated to Canada. It has taught me how communicate and how to operate in an organization. I sure met a lot of amazing people and plan to meet more.</p>
	</div>
	<div class='image-centered'>
		<img class='image-about' src='/static/img/toronto.jpg' style='width:auto'>
		<img class='image-about' src='/static/img/uoft.jpg' style='width:auto'>
		<img class='image-about' src='/static/img/sv.jpg' style='width:auto'>
		<img class='image-about' src='/static/img/juventus.jpg' style='width:auto'>
	</div>
</div>

{% endblock %}
