{% extends "base.html" %}

{% block content %}

<div class='container-paragraph'>
	<div class='title'>
		<h2> Welcome!</h2>
	</div>
	<img class='image-home' src='/static/img/{{pic}}'/>
	<br>
	<div class='paragraph-block'>
		<p>Hello, my name is Yuma Tsuboi and welcome to my portfolio!</p> 
		<p>Feel free to take a look around!</p>
		<p>You can also find me on LinkedIn!</p>
		<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/yuma-tsuboi/50/304/9a8" data-format="hover" data-text="Yuma Tsuboi" data-related="false"></script>
	</div>
</div>

{% endblock %}


	
