{% extends "base.html" %}

{% block content %}

<div class='container-paragraph'>
	<div class="project">
		<div class="project-heading">
			<div class="project-title">
				Diagnostic Modelling of Coaxial Cable Network
			</div>
			<div class="project-date">
				May 2012 - Aug 2012
			</div>
		</div>
		<div class="project-content">
			<p>This project was done during the summer of 2012 as an assistant researcher in the Electromagnetics group of University of Toronto. The objective was to design an algorithm to model a coaxial cable network using solely reflection measurements. Application of this algorithm allows technicians who often only has access to one port of a network to compute the physical dimensions of the entire network. The behavior of reflected signals were identified using network analyzer. Its processing and the mathematic modelling of cable network was done using Matlab.</p>
			<br>
			<div class='image-centered'>
				<img class='image-project' src='/static/img/unerd.jpg' style='width:60%'/>
			</div>
		</div>
	</div>

</div>

{% endblock %}
