{% extends "base.html" %}

{% block content %}

<div class='container-paragraph'>
	<div class="project">
		<div class="project-heading">
			<div class="project-title">
				Pipe Inspector Robot
			</div>
			<div class="project-date">
				Jan 2012 - Apr 2012
			</div>
		</div>
		<div class="project-content">
			<p>Worked in a team of three to design and assemble a fully autonomous robot to scan markings on a pipe which represents a nuclear waste leakage in a hazardous environment. As a circuit subsystem member of the team, I was responsible for designing and fabricating circuitry in order to control signals between the mechanical and microprocessor components.</p>
			<br>

			<div class='image-centered'>
				<img class='image-project' src='/static/img/jackattack_side.jpg' style='width:40%'/>
				<img class='image-project' src='/static/img/circuit1.jpg' style='width:40%'/>
			</div>
			<a href="http://aer201.aerospace.utoronto.ca/history/team.aspx?ID=16&Team=W16&Project=Project3&Year=2012">Pipe Inspector Robot: JackAttack</a>
		</div>
	</div>

{% endblock %}
