{% extends "base.html" %}

{% block content %}

<div class='container-paragraph'>
	<div class="project">
		<div class="project-heading">
			<div class="project-title">
				Toronto Waterfront Revitalization
			</div>
			<div class="project-date">
				Jan 2011 - Apr 2011
			</div>
		</div>
		<div class="project-content">
			<p>Worked in a team of four to design and present a solution for the Toronto Waterfront Revitalization request for proposal.</p>
			<br>
			<div class='image-centered'>
			    <img class='image-project' src='/static/img/praxis.jpg' style='height:220px'/>
				<img class='image-project' src='/static/img/praxis_team.jpg' style='height:220px'/>
			</div>
			<br>
			<a href="http://www.dcnonl.com/article/id43943"> Article on the day of showcase</a>
		</div>
	</div>
</div>

{% endblock %}
