{% extends "base.html" %}

{% block content %}

<div class='container-paragraph'>
	<div class="project">
		<div class="project-heading">
			<div class="project-title">
				Meeting Task Organizer App
			</div>
			<div class="project-date">
				Oct 12-13 2013
			</div>
		</div>
		<div class="project-content">
			<p>This mobile app was developed for the HP Anywhere enterprise at the HP Anywhere Hackathon event in San Francisco. The title of the app is Meeting Task Organizer, which was designed to act as a visual aid tool for the assignments of tasks during meetings. It features a 'drag and drop' of pre-inputted list of tasks into the to-do lists of each of the participants of the meeting. The movement of the tasks is saved in a database for each participants to periodically fetch for the screen sharing effect. Front end development was done in HTML, CSS, and Javascript. Backend development was done in Java. </p>
			<br>
			<div class='image-centered'>
				<iframe width="420" height="315" src="//www.youtube.com/embed/3pwbP2_H29Y" frameborder="0" allowfullscreen></iframe>
			</div>
			<br>
			<a href="http://h22154.www2.hp.com/hackathon.html">More details on the HP Anywhere Hackathon event</a>
		</div>
	</div>

{% endblock %}
