{% extends "base.html" %}

{% block content %}

<div class='container-project'>
	
	<div class="project-block">
		<a href="/project_hp">
			<img src="/static/img/hpanywhere.jpg"/>
			<h3>Meeting Task Organizer App - HP Anywhere Hackathon</h3>
			<p>Oct 7 2013</p>
		</a>
	</div>
	
	<div class="project-block">
		<a href="/project_em">
			<img src="/static/img/unerd.jpg">
			<h3>Diagnostic Modelling of Coaxial Cable Network</h3>
			<p>May 2012 - Aug 2012</p>
		</a>
	</div>
	
	<div class="project-block">
		<a href="/project_aer">
			<img src="/static/img/jackattack_side.jpg"/>
			<h3>Pipeline Inspector Robot</h3>
			<p>Jan 2012 - Apr 2012<p>
		</a>
	</div>

	<div class="project-block">
		<a href="/project_utek">
			<img src="/static/img/utek.jpg"/>
			<h3>City of Vancouver Earthquake Relief</h3>
			<p>Jan 21 2012</p>
		</a>
	</div>
	
	<div class="project-block">
		<a href="/project_utra">
			<img src="/static/img/utra.jpg"/>
			<h3>Sumo Robot</h3>
			<p>Jun 2011 - Aug 2011</p>
		</a>
	</div>

	<div class="project-block">
		<a href="/project_praxis">
			<img src="/static/img/praxis.jpg"/>
			<h3>City of Toronto Waterfront Revitalization</h3>
			<p>Jan 2011 - Apr 2011</p>
		</a>
	</div>
</div>

{% endblock %}
