{% extends "base.html" %}

{% block content %}

<div class='container-paragraph'>
	<div class="project">
		<div class="project-heading">
			<div class="project-title">
				City of Vancouver Earthquake Relief	
			</div>
			<div class="project-date">
				Jan 21 2012
			</div>
		</div>
		<div class="project-content">
			<p>The City of Vancouver Earthquake Relief was the theme for the Consulting category of University of Toronto Engineering Kompetition(UTEK) 2012. We worked in a team of four to design and present our solution to help minimize the City of Vancouver's vulnerability against earthquakes. Our solution was in the form of a protocol which address the actions to be taken by the city and its civilians during the event of an earthquake. This solution won the Most Creative Design award.</p>
			<br>
			
		</div>
	</div>
</div>

{% endblock %}
